
<div class="container my-auto p-4 ">
  <div class="row">
    {{#each emergen}}
      <div class="col-md-3">
        <div class="card text-center">
          <div class="card-body">
            
              <form action="/links/emergenciaespecifica/{{codigo}}" method="POST">
            <div class="form-group my-4">
              <h3 class="card-title text-uppercase">
             Código de emergencia: {{codigo}}
            </h3>
            </div>
            <div class="form-group my-4">
              <h3 class="card-title text-uppercase">
             <p class="m-2">Cédula de persona: {{personaCedula}}</p>
            </h3>
            </div>
            <div class="form-group my-4">
              <button class="btn btn-danger btn-block">
                Atender
              </button>
            </div> 
            
            </form> 
            <a class="btn btn-success" href="/links/emergenciaespecifica/delete/{{codigo}}">
              Atendida
            </a> 
            </div>
          </div>
        </div>
      
    {{else}}
      <div class="col-md-4 mx-auto">
        <div class="card card-body text-center">
          <p>Ninguna emergencia</p>
          
        </div>
      </div>
    {{/each}}
  </div>
</div>